@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.titleBar {
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    color: var(--textPrimary);
}

.titleBar h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-style: normal;
}

.titleBar a {
    text-decoration: none;
    color: inherit;
}
